<%- include("common/cdn.ejs") %>


<%- include("common/navigationBar.ejs") %>


<!--Section: Contact v.2-->
<section class="mb-4" style="width: 85vw; margin: auto;">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact me directly. I will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="/ContactMe" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 ">
                        <div class="md-form mb-0 ">
                            <label for="name" class="">Your Name</label>
                            <input type="text" placeholder="Name" id="name" name="name" class="form-control">
                             <br><br>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your Email</label>
                            <input type="text" placeholder="Email" id="email" name="email" class="form-control">
                            <br><br>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input type="text" placeholder="Subject" id="subject" name="subject" class="form-control">
                            <br><br>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea placeholder="message" type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <br><br>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

                
                <div class="text-center text-md-left">
                    <input type="submit">
                    <!-- <a class="btn btn-primary" onclick="">Send</a> -->
                </div>
            </form>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Bhilai , Durg , Chhattisgarh</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+91 7869704908</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>gyanibaba137@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->


<%- include("common/footer.ejs") %>
