<style>
    .contact-success{
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 70vh;
        flex-direction: column;
        background-color: rgb(67, 193, 115);
        text-align: start;
    }
    span{
        text-transform: capitalize;
    }
    a{
        width: fit-content;
    }
</style>
<%- include("common/cdn.ejs") %>
<body>
    
    <%- include("common/navigationBar.ejs") %>

    <div class="contact-success container">


        <p >Thank You <span> <%= name %></span> &#128512 . We have received your message successfully ! Admin will contact you with in short time &#128515; </p>
        <br><br>
        <a href="/">
            <button class="btn btn-primary"> Back to Home</button>
        </a>
    </div>

    <%- include("common/footer.ejs") %>
</body>







