<%- include("common/cdn.ejs") %>

  <body>
    <style>
      .form-container {
        margin: 50px auto;
        width: 80vw;
      }
      body {

       
        background-size: auto;
        background-repeat: no-repeat;
      }
    </style>

    <%- include("common/navigationBar.ejs")%>

      <div class="form-container">
        <form class="row g-3 needs-validation" method="post" action="/user/register" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="Username" id="validationCustom01" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Enrollment Number</label>
            <input type="text" name="enrollmentNum" class="form-control" id="validationCustom02" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" name="email" class="form-control" id="validationCustomUsername"
                aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a email.
              </div>
            </div>
            <Address></Address>
          </div>
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Branch</label>
            <input type="text" name="branch" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
              Please provide a valid branch.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Gender</label>
            <select class="form-select" name="gender" id="validationCustom04" required>
              <option selected value="male">Male</option>
              <option value="female">Female</option>

              <!-- <option>...</option> -->
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Roll Number</label>
            <input type="text" class="form-control" name="rollNum" id="validationCustom05" required>
            <div class="invalid-feedback">
              Please provide a valid Roll Number.
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Address</label>
            <input type="text" class="form-control" name="Address" id="validationCustom05" required>
            <div class="invalid-feedback">
              Please provide a valid address .
            </div>
          </div>


          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Above Information provided is correct
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>


      </div>





























      <!-- <form action="/user/register" method="post" class="form-horizontal ">

          <div class=" d-flex flex-row flex-wrap justify-content-lg-around align-items-center p-1 flex-md-column ">

            <div class="p-1 m-1 d-lg-inline  flex-md-column ">
              <label for="Username" class="control-label  m-1">Full Name</label>
              <input type="text" class="Username p-1 m-1" id="Username" name="Username">
            </div>

            <div class="p-1 m-1 d-inline  flex-md-column">
              <label for="email" class="control-label p-1 m-1 ">email</label>
              <input type="email" class="email p-1 m-1" id="email" name="email">
            </div>

            <div class="p-1 m-1 d-inline  flex-md-column">
              <label for=" branch" class="control-label p-1 m-1">branch </label>
              <input type="text" class="branch p-1 m-1" name="branch" id="branch">
            </div>

            <div class="p-1 m-1 d-inline flex-md-column">
              <label for=" rollNum" class="control-label p-1 m-1">rollNum</label>
              <input type="text" class="rollNum p-1 m-1" name="rollNum" id="rollNum">
            </div>

            <div class="p-1 m-1 d-inline flex-md-column">
              <label for=" gender" class="control-label p-1 m-1">gender</label>
              <input type="text" class="gender p-1 m-1" name="gender" id="gender">
            </div>

            <div class="p-1 m-1 d-lg-inline  flex-md-column">
              <label for=" enrollmentNum" class="control-label p-1 m-1">enrollmentNum</label>
              <input type="text" class="enrollmentNum p-1 m-1" name="enrollmentNum" id="enrollmentNum">
            </div>

            <div class="p-1 m-1 d-lg-inline  flex-md-column">
              <label for=" Address" class="control-label p-1 m-1">Address</label>
              <input type="text" class="Address p-1 m-1" name="Address" id="Address">
            </div>
            <input type="submit">
            <button type="submit" class="btn-lg d-block">Submit</button> -->
      <!-- </div>
        </form>
      </div> -->


      <%- include("common/footer.ejs")%>
  </body>