
<%- include("common/cdn.ejs") %>
<body>

    <%- include("common/navigationBar.ejs") %>

  
    <h1>Youre not admin </h1>
    <a href=""><button >back to login</button></a>
    
        <%- include("common/footer.ejs") %>
</body>

</html>