
.user-data-page{
    padding: 3px;
    background-color: blue;
}

     th, td{
      text-align: center;
        width: 30%;
        height: fit-content;
        align-items: center;

      }
     td button{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        border: none;
        /* background-color: darkgrey; */
      }
      
      td button:hover{
        background-color: black;
        color: white;
      }
      .table-div{
        margin: 20px auto;
        
        width: 90%;
      }
      .width10{
        width: 5%;
      }
    
      