<style>
a{
    padding: 0 9px;
}
footer p{
  font-size: smaller;
}

  </style>
  
<footer class="bg-light text-center text-lg-start bg-dark text-white">
    <!-- Grid container -->
    <div class="container p-2">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-2 mt-1 mb-md-0 border-right">
          <h4 class="text-uppercase text-lg-start pt-2 ">Information</h4>
          <p class=" info-para font-weight-light">
            This is a website that creates Unique Qr code Identity for every Students,
            QR code is Unique and Students can simply scan with any QR scanner,
            Student will be redirected to a web page that will show their specific details..
          </p>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mt-1 mb-4 mb-md-0 ">
          <h4 class="text-uppercase text-lg-start ">Contact Me</h4>
         
          <p>
            Email<a href="mailto:gyaniguru137@gmail.com"><i class="fa-regular fa-envelope fa-spin"></i></a>
          </p>
         
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <section class="">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: rgb(0, 0, 0);">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: CTA -->
          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              
              <span class="me-3">Register for free</span><a href="/user/register">
              <button type="button" class="btn btn-outline-light btn-rounded">
                Sign up!
              </button></a>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:Mayank Dewangan
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
  </footer>


    

