<style>
a{
    padding: 0 9px;
}
  </style>
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Information</h5>
  
          <p>
            This is a website that creates Unique Qr code identity for every of its users
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Me</h5>
          <p >
            Instagram<a href=""><i class="fa-brands fa-instagram fa-spin fa-spin-reverse"></i></a>
          </p>
          <p>
            Email<a href=""><i class="fa-regular fa-envelope fa-spin"></i></a>
          </p>
          
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:Aditya Chauhan    </div>
    <!-- Copyright -->
  </footer>


    

